{% block column_img %}
  {% set m_top = 0 %}
  {% if blocks[index].columns[idx].mtop is defined %}
    {% set m_top = blocks[index].columns[idx].mtop %}
  {% endif %}

                                            <th valign="top" style="text-align:center;background-color:{{colbkg}}" class="image-container" align="center" width="{{blocks[index].columns[idx].widthp100}}%">
                                              <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%;" role="presentation">
                                              <tbody>

                                              {% if margin_top != 0 %}<tr>
                                                <th valign="top" style="text-align:left;font-size:1px;line-height:1px" class="horizontal-gutter" height="{{margin_top}}">&nbsp;</th>
                                              </tr>{% endif %}

                                              {% if m_top != 0 %}<tr>
                                                <th valign="top" style="text-align:left;font-size:1px;line-height:1px" class="horizontal-gutter" height="{{m_top}}">&nbsp;</th>
                                              </tr>{% endif %}

                                              <tr>
                                                <th>
                                                  {% if blocks[index].columns[idx].imgulr is defined and blocks[index].columns[idx].imgulr != "#" %}<a href="{{blocks[index].columns[idx].imgulr}}" target="_blank">{% endif %}<img src="{{BaseURLimg}}{{blocks[index].columns[idx].img}}" width="{{blocks[index].columns[idx].imgwidth}}" height="auto" align="center" alt="" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block; margin-left:auto;margin-right:auto;width:{{blocks[index].columns[idx].imgwidth}}px;">{% if blocks[index].columns[idx].imgulr is defined and blocks[index].columns[idx].imgulr != "#" %}</a>{% endif %}

                                                </th>
                                              </tr>

                                              {% if margin_bottom != 0 %}<tr>
                                                <th valign="top" style="text-align:left;font-size:1px;line-height:1px" class="horizontal-gutter" height="{{margin_bottom}}">&nbsp;</th>
                                              </tr>{% endif %}

                                              </tbody>
                                              </table>
                                            </th>
{% endblock %}
