{% block iq24_footer_iqos_fc_links %}
{# FOOTER IQOS FOREVER CURIOUS - LINKS & SOCIAL LOGOS #}
{% set footer_mtop           = "15" %}
{% set footer_mbottom        = "15" %}
{% set URL_CompraEnLinea     = "https://www.iqos.com/mx/es/descubrir-tabaco-para-calentar/comprar-dispositivos.html" %}
{% set URL_LocalizaUnaTienda_OLD = "https://www.iqos.com/mx/es/localizador-tiendas.html" %}
{% set URL_LocalizaUnaTienda = "https://conoce-iqos.com/localizador-tiendas/" %}
{% set URL_Email             = "mailto:contact.mx@iqos.com" %}
{% set URL_Llamanos          = "tel:8001476769" %}
{% set URL_Contactanos       = "tel:8001476769" %}
{% set URL_IQOS_FB           = "https://www.facebook.com/iqosmx/" %}
{% set URL_IQOS_IG           = "https://www.instagram.com/iqos_mx/" %}
{% set footer_img_separator       = "footer-fc-line.jpg" %}
{% set footer_fc_logo_fb          = "footer-fc-fb.png" %}
{% set footer_fc_logo_ig          = "footer-fc-ig.png" %}
{% set footer_img_separator_dark  = "footer-fc-line-dark.png" %}
{% set footer_fc_logo_fb_dark     = "footer-fc-fb-dark.png" %}
{% set footer_fc_logo_ig_dark     = "footer-fc-ig-dark.png" %}


{% if blocks[index].linkcolor is defined  %}
    {% set linkcolor = blocks[index].linkcolor  %}     
{% else %}
    {% set linkcolor = "#34303d" %}
{% endif %}

{% if blocks[index].bgcolor is defined  %}
    {% set bgcolor = blocks[index].bgcolor  %}     
{% else %}
    {% set bgcolor = "transparent" %}
{% endif %}

{% if blocks[index].darkmode_img is defined  %}
    {% set darkmode_img = blocks[index].darkmode_img %}
{% else %}
    {% set darkmode_img = "0" %}
{% endif %}




{% if darkmode_img == "0"  %}
	{% set logo_fb   = footer_fc_logo_fb     %}
	{% set logo_ig   = footer_fc_logo_ig     %}
  {% set separator = footer_img_separator  %}
{% else %}
	{% set logo_fb   = footer_fc_logo_fb_dark    %}
	{% set logo_ig   = footer_fc_logo_ig_dark    %}
  {% set separator = footer_img_separator_dark %}
{% endif %}


{% if target is defined and target == "DCE" %}
  {% if darkmode_img == "0"  %}
      {% set logo_fb   = "https://image.e.iqos.com/lib/fe3a15707564067e7d1073/m/1/dcbef520-a74c-484d-8ca1-fa2368b07da3.png" %}
      {% set logo_ig   = "https://image.e.iqos.com/lib/fe3a15707564067e7d1073/m/1/c2f1af69-38d7-4090-bcbc-ce469c98178b.png" %}
      {% set separator = "https://image.e.iqos.com/lib/fe3a15707564067e7d1073/m/1/59a8a0f1-6b18-4693-b093-def14009d51c.jpg" %}
  {% else %}
      {% set logo_fb   = "https://image.e.iqos.com/lib/fe3a15707564067e7d1073/m/1/433f4ecb-cbfc-44e9-981e-eb54417254a0.png" %}
      {% set logo_ig   = "https://image.e.iqos.com/lib/fe3a15707564067e7d1073/m/1/ac0464bb-d971-44a8-861f-017e7e846a70.png" %}
      {% set separator = "https://image.e.iqos.com/lib/fe3a15707564067e7d1073/m/1/4c22e99f-1d4f-4c76-93e3-32847e1fadc8.png" %}
  {% endif %}
{% endif %}

{% if target is defined and target == "FSH" %}
  {% if darkmode_img == "0"  %}
      {% set logo_fb   = "https://image.email-futurosinhumo.com/lib/fe42157175640478741574/m/1/966f1732-6c89-4b0f-9f94-8d24c017d604.png" %}
      {% set logo_ig   = "https://image.email-futurosinhumo.com/lib/fe42157175640478741574/m/1/bd53c45a-61e7-4934-aca9-681e24d7e329.png" %}
      {% set separator = "https://image.email-futurosinhumo.com/lib/fe42157175640478741574/m/1/c6a68d85-21e0-48d8-9e35-c0864645b17a.jpg" %}
  {% else %}
      {% set logo_fb   = "https://image.email-futurosinhumo.com/lib/fe42157175640478741574/m/1/6adb7330-46fa-4aef-923e-59bad1ef382e.png" %}
      {% set logo_ig   = "https://image.email-futurosinhumo.com/lib/fe42157175640478741574/m/1/96288994-55ff-484c-a8c0-729e4364303f.png" %}
      {% set separator = "https://image.email-futurosinhumo.com/lib/fe42157175640478741574/m/1/894770a2-9e69-442a-9b6f-df9a3cd163bb.png" %}
  {% endif %}
{% endif %}

                          <tr pik-mail-block="iq24-center-img">
                            <th valign="top" style="text-align:left;margin:0;padding:0;background-color:{{bgcolor}};" align="center">
                              <table valign="top" align=center cellpadding="0" cellspacing="0" border="0" width="100%" style="max-width:100%; width:100%;margin:0 auto;" role="presentation">
                                <tbody>
                                  <tr>
                                    <th valign="top" style="text-align:center" align="center">
                                      <img src="{{separator}}" alt="" width="100%"  height="auto"  align="absbottom" style="line-height:0; font-size:0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block;margin:0 auto; padding:0; border:0;" />
                                    </th>
                                  </tr>
                                </tbody>
                              </table>
                            </th>
                          </tr>
                          <tr pik-mail-block="iq24-columns">
                            <th valign="middle" style="text-align:center;background-color:{{bgcolor}};" class="horizontal-grid">
                              <table valign="top" align=center cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%; background-color:{{bgcolor}};" role="presentation">
                                <tbody>
                                  <tr>
                                    <th pik-th-descriptor="columns-content" valign="middle" style="text-align:center; width:100%;" class="horizontal-grid" width="100%" >
                                      <table valign="top" align=center cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%" role="presentation">
                                        <tbody>
                                          <tr pik-inner-element="columns-margin-top" style="background-color:{{bgcolor}};">
                                            <th valign="top" style="background-color:{{bgcolor}};text-align:left;font-size:1px;line-height:1px;height:{{footer_mtop}}px;" class="horizontal-gutter" height="{{footer_mtop}}">&nbsp;</th>
                                          </tr>
                                          <tr pik-inner-element="columns-container">
                                            <th>  
                                              <table valign="top" cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%" role="presentation">
                                                <tbody>
                                                  <tr pik-inner-element="columns-content">
                                                      <!--spacer -->
                                                      <th pik-this="n2-col-col-spcr" valign="top" style="text-align:center;background-color:{{bgcolor}}; width:7%;" class="image-container" align="center" width="7%">
                                                          <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%;" role="presentation">
                                                            <tbody>
                                                              <tr>
                                                                <th valign="top" style="text-align:left;font-size:1px;line-height:1px" height="auto">&nbsp;</th>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                      </th>
                                                      <!--N2multirow - LINKS--> 
                                                      <th pik-th-descriptor="column-1-[multirows]"   style="text-align:center;background-color:{{bgcolor}};" class="" align="center" width="68%">
                                                        <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%;" role="presentation">
                                                          <tbody>
                                                            <!-- N2multirow p  -->
                                                            <tr pik-inner-element="column-1-[multirows-row-0:p]">
                                                              <th>
                                                                  <table pik-descriptor="column-1-[multirows-row-0-p]"  align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%;background-color:{{bgcolor}};" role="presentation">
                                                                  <tbody>
                                                                    {# <tr pik-inner-element="multirow-column-p-margin-top" style="background-color:{{bgcolor}};">
                                                                      <th valign="top" style="background-color:{{bgcolor}};text-align:left;font-size:1px;line-height:1px" height="7">&nbsp;</th>
                                                                    </tr> #}
                                                                    <tr pik-inner-element="multirow-column-p-content" style="background-color:{{bgcolor}};">
                                                                      <th valign="top" style="background-color:{{bgcolor}};" class="" >
                                                                        <table valign="middle" align="center" cellpadding="0" cellspacing="0" border="0"  width="100%" style="width:100%; background-color:{{bgcolor}};  margin:0 auto; " role="presentation">
                                                                          <tbody><tr>
                                                                              <th style="text-align:left; font-size:10px; ">
                                                                                <div style="width:100%;  text-align:left;  font-weight:300; color:#34303d; font-family: Cabin, Gotham, Arial, sans-serif; "  class="fallback-text">
                                                                                  <span class1="txt_14">
                                                                                    <table >
                                                                                      <tbody><tr>
                                                                                        {# <th style="text-align:left;padding-right: 1.8vw;"><a href="{{URL_CompraEnLinea}}" target="_blank" alias="footer_compra_en_linea"><span class="txt_footer_links" style="color:{{linkcolor}};">Compra en línea</span></a</th> #}
                                                                                        <th style="text-align:left;padding-right: 1.8vw;"><a href="{{URL_LocalizaUnaTienda}}" target="_blank" alias="footer_localiza_una_tienda"><span class="txt_footer_links" style="color:{{linkcolor}};">Localiza una tienda</span></a></th>
                                                                                        {# <th style="text-align:left;padding-right: 1.8vw;"><a href="{{URL_Email}}" target="_blank" alias="footer_email"><span class="txt_footer_links" style="color:{{linkcolor}};">Email</span></a></th> #}
                                                                                        {# <th style="text-align:left;padding-right: 1.8vw;"><a href="{{URL_Llamanos}}" target="_blank" alias="footer_llamanos"><span class="txt_footer_links" style="color:{{linkcolor}};">Llámanos</span></a></th> #}
                                                                                        <th style="text-align:left;padding-right: 1.8vw;"><a href="{{URL_Contactanos}}" target="_blank" alias="footer_contactanos"><span class="txt_footer_links" style="color:{{linkcolor}};">Contáctanos</span></a></th>
                                                                                      </tr></tbody>
                                                                                    </table>
                                                                                  </span>
                                                                                </div>
                                                                              </th>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                      </th>
                                                                    </tr>
                                                                  </tbody>
                                                                </table>
                                                              </th>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </th>
                                                      <!--N2img -- FB icon -->
                                                      <th pik-th-descriptor="column-2-[img]" valign="top"  style="text-align:center; background-color:{{bgcolor}}"  align="center"  width="5%">
                                                        <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%;" role="presentation">
                                                          <tbody>
                                                            <tr pik-inner-element="img">
                                                              <th>
                                                                <a href="{{URL_IQOS_FB}}" alias="footer_facebook" target="_blank"><img src="{{logo_fb}}"  width="100%"  height="auto"  align="center"  alt=""  style="width:100%; -ms-interpolation-mode: bicubic; outline: none; text-decoration: none; border: none; display: block; margin-left:auto; margin-right:auto; line-height:0; font-size:0; "></a>
                                                              </th>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </th>
                                                      <!--spacer -->
                                                      <th pik-this="n2-col-col-spcr" valign="top" style="text-align:center;background-color:{{bgcolor}}; width:5%;" class="image-container" align="center" width="5%">
                                                          <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%;" role="presentation">
                                                            <tbody>
                                                              <tr>
                                                                <th valign="top" style="text-align:left;font-size:1px;line-height:1px" height="auto">&nbsp;</th>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                      </th>
                                                      <!--N2img -- IG icon -->
                                                      <th pik-th-descriptor="column-4-[img]" valign="top"  style="text-align:center; background-color:{{bgcolor}}"  align="center"  width="5%">
                                                        <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%;" role="presentation">
                                                          <tbody>
                                                            <tr pik-inner-element="img">
                                                              <th>
                                                                <a href="{{URL_IQOS_IG}}" alias="footer_instagram" target="_blank"><img src="{{logo_ig}}"  width="100%"  height="auto"  align="center"  alt=""  style="width:100%; -ms-interpolation-mode: bicubic; outline: none; text-decoration: none; border: none; display: block; margin-left:auto; margin-right:auto; line-height:0; font-size:0; "></a>
                                                              </th>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </th>
                                                      <!--spacer -->
                                                      <th pik-this="n2-col-col-spcr" valign="top" style="text-align:center;background-color:{{bgcolor}}; width:12%;" class="image-container" align="center" width="10%">
                                                        <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%;" role="presentation">
                                                        <tbody>
                                                            <tr>
                                                            <th valign="top" style="text-align:left;font-size:1px;line-height:1px" height="auto">&nbsp;</th>
                                                            </tr>
                                                        </tbody>
                                                        </table>
                                                      </th>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </th>
                                          </tr>
                                          <tr pik-inner-element="columns-margin-bottom"  style="background-color:{{bgcolor}};">
                                            <th valign="top" style="background-color:{{bgcolor}}; text-align:left; font-size:1px; line-height:1px;height:{{footer_mbottom}}px;" class="horizontal-gutter" height="{{footer_mbottom}}">&nbsp;</th>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </th>
                                  </tr>
                                </tbody>
                              </table>
                            </th>
                          </tr>
                          <tr pik-mail-block="iq24-center-img">
                            <th valign="top" style="text-align:left;margin:0;padding:0;background-color:{{bgcolor}};" align="center">
                              <table valign="top" align=center cellpadding="0" cellspacing="0" border="0" width="100%" style="max-width:100%; width:100%;margin:0 auto;" role="presentation">
                                <tbody>
                                  <tr>
                                    <th valign="top" style="text-align:center" align="center">
                                      <img src="{{separator}}" alt="" width="100%"  height="auto"  align="absbottom" style="line-height:0; font-size:0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block;margin:0 auto; padding:0; border:0;" />
                                    </th>
                                  </tr>
                                </tbody>
                              </table>
                            </th>
                          </tr>
                        
{% endblock %}