{#
  N2-img

  \ COLUMNS
  |
  +--\ img
 
#}
{%- block iq24_column_img ~%}
                                                      {# ~#}<!--N2img-->
                                                      <th pik-th-descriptor="column-{{idx}}-[img]" valign="top"  style="text-align:center; background-color:{{blocks[index].columns[idx].bgcolor}}"  align="center"  width="{{blocks[index].columns[idx].width_pc}}%">
                                                        <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%;" role="presentation">
                                                          <tbody>{% if blocks[index].columns[idx].mtop != 0 ~%}
                                                            <tr pik-inner-element="img-margin-top">
                                                              <th valign="top" style="text-align:left;font-size:1px;line-height:1px" class="horizontal-gutter" height="{{blocks[index].columns[idx].mtop}}">&nbsp;</th>
                                                            </tr>{% endif ~%}
                                                            <tr pik-inner-element="img">
                                                              <th>
                                                                {% if blocks[index].columns[idx].url is defined and blocks[index].columns[idx].url != "#" %}<a href="{{blocks[index].columns[idx].url}}" target="_blank">{% endif %}<img src="{{BaseURLimg}}{{blocks[index].columns[idx].img}}"  width="{{blocks[index].columns[idx].img_width_pc}}%"  height="auto"  align="center"  alt=""  style="width:{{blocks[index].columns[idx].img_width_pc}}%; -ms-interpolation-mode: bicubic; outline: none; text-decoration: none; border: none; display: block; margin-left:auto; margin-right:auto; line-height:0; font-size:0; ">{%- if blocks[index].columns[idx].url is defined and blocks[index].columns[idx].url != "#" %}</a>{% endif ~%}
                                                              </th>
                                                            </tr>{% if blocks[index].columns[idx].mbottom != 0 ~%}
                                                            <tr pik-inner-element="img-margin-bottom">
                                                              <th valign="top" style="text-align:left;font-size:1px;line-height:1px" class="horizontal-gutter" height="{{blocks[index].columns[idx].mbottom}}">&nbsp;</th>
                                                            </tr>{% endif ~%}
                                                          </tbody>
                                                        </table>
                                                      </th>{% endblock ~%}